@media screen and (max-width:767px) {

 body {
  width: 100%;
  padding: 0;
  margin: 0;
 }

 .sec-title {
  font-size: 25px;
  padding: 40px;
}

 /*---------------------
ヘッダー
---------------------*/
 #header {
  padding: 0;
 }

 .header-wrapper {
  flex-direction: column;

 }

 .headerlogo {
  margin: 0;
 }

 .headerlogo img {
  width: 90px;
 }

 .header-right {
  padding-top: 2px;
 }

 .navilist li {
  padding: 10px;
 }

 .navilist a {
  font-size: 0.6rem;
 }

 .snsicon {
  padding: 10px 0;
 }

 .snsicon ul {
  justify-content: center;
 }

 .snsicon li {
  padding-left: 15px;
 }

 .snsicon img {
  width: 18px;
 }

 /*--------------------
  トップ
 ---------------------*/
#main {
 padding-top: 110px;
}

#program-list {
 padding-top: 30px;
}

.sliderArea {
 padding: 0 25px;
}


 /*--------------------
 出演者MC紹介
 ---------------------*/
 #mc-intro {
  padding-top: 30px;
 }
 #mc-intro li {
  width: 50%;
  padding-right: 10px;
 }

 /*--------------------
 出演者MC紹介
  --------------------*/
  .mc-intro {
   padding-top: 30px;
  }

 /*--------------------
 過去の実績
  --------------------*/
  #past-record {
   padding-top: 30px;
  }

  .record-wrapper {
   width: 100%;
  }



  .record1 {
   flex-direction: column;
   padding-bottom: 70px;
  }
  
  .record1 p {
   padding: 20px;
  }
  
  .record2 {
   flex-direction: column-reverse;
   padding-bottom: 20px;
  }
  
  .record2 p {
   padding: 20px;
  }

 /*--------------------
 広告一覧
 --------------------*/
 #adlist {
  padding-top: 30px;
 }

 /*--------------------
 ボイスサンプル
 --------------------*/
 #voicesample {
  padding: 100px 0 0 0;
}

 .voice-wrapper {
  padding: 0;
}

 .voice-list {
  width: 50%;
  margin-bottom: 50px;
}

.logolist {
 padding: 20px;
}

.logolist li {
 width: 50%;
}

.logolist li:nth-child(odd) {
 padding-right: 10px;
}

 /*--------------------
 会社紹介
 --------------------*/
#company-introduction {
 padding: 130px 0 20px 0;
}

#company-introduction img {
 width: 100%;
}

.company-wrapper {
 flex-direction: column;
 padding: 10px;
}

.company-text {
 padding-left: 0;
}

.company-wrapper img {
 height: 200px;
}

.company-text h3 {
 text-align: center;
 padding: 20px;
}

.company-text dt {
 font-size: 0.7rem;
}

.company-text dd {
 padding-left: 10px;
}

iframe {
 padding: 10px;
 height: 300px;
}

/*--------------------
 お問合せ
--------------------*/
#contact {
 padding: 130px 0 20px 0;
}

#contact dl {
 flex-direction: column;
 padding: 0 10px;
}

#contact dt {
 width: 100%;
 padding-right: 0;
 text-align: left;
}

#contact dd {
 width: 100%;
}

#contact input {
 width: 100%;
}

#contact textarea {
 width: 100%;
}

}